- name: Check OS version and family
  fail:
      msg: "This role can only be run agaist RHEL 6. {{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
  when:
      - ansible_os_family == 'RedHat'
      - ansible_distribution_major_version | version_compare('6', '!=')
  tags:
      - always

- name: Check ansible version
  fail:
      msg: You must use ansible 2.1 or greater
  when: not ansible_version.full | version_compare('2.1', '>=')
  tags:
      - always

- include: prelim.yml
  tags:
      - prelim_tasks
      - always

- include: cat1.yml
  when: rhel6stig_cat1

- include: cat2.yml
  when: rhel6stig_cat2

- include: cat3.yml
  when: rhel6stig_cat3

- include: post.yml
  tags:
      - post_tasks

- include: not_automated.yml
  tags:
      - not_auto_fixed
