# CAT I
- name: "HIGH | V-38666 | AUDIT | The system must use and update a DoD-approved virus scan program"
  command: /etc/init.d/nails status
  ignore_errors: yes
  always_run: yes
  changed_when: no
  register: av_nails_status_audit
  tags:
      - cat1
      - high
      - V-38666
      - antivirus
      - audit

- name: "HIGH | V-38666 | AUDIT | The system must use and update a DoD-approved virus scan program"
  shell: grep uvscan /etc/cron* /var/spool/cron/*
  register: av_uvscan_cron_audit
  ignore_errors: yes
  always_run: yes
  changed_when: no
  tags:
      - cat1
      - V-38666
      - antivirus
      - audit
      - high

- name: "HIGH | V-38666 | AUDIT | The system must use and update a DoD-approved virus scan program. Looking for virus definitions older than seven days."
  command: find /usr/local/uvscan -type f -mtime +7
  register: av_defs_audit
  changed_when: no
  ignore_errors: yes
  always_run: yes
  tags:
      - cat1
      - V-38666
      - antivirus
      - high
      - audit

- name: "HIGH | V-38677 | AUDIT | The NFS server must not have the insecure file locking option enabled"
  command: grep insecure_locks /etc/exports
  register: nfs_insecure_locking_audit
  ignore_errors: yes
  changed_when: no
  always_run: yes
  tags:
      - cat1
      - high
      - V-38677
      - audit
      - nfs

# CAT II

# CAT III
- name: "LOW | V-38455 | AUDIT | The system must use a separate file system for /tmp"
  shell: mount | grep "on /tmp "
  register: tmp_mounted_audit
  always_run: yes
  ignore_errors: yes
  changed_when: no
  tags:
      - cat3
      - low
      - V-38455
      - partitions
      - audit

- name: "LOW | V-38456 | AUDIT | The system must use a separate file system for /var"
  shell: mount | grep "on /var "
  register: var_mounted_audit
  changed_when: no
  ignore_errors: yes
  always_run: yes
  tags:
      - cat3
      - V-38456
      - partitions
      - low
      - audit

- name: "LOW | V-38463 | AUDIT | The system must use a separate file system for /var/log"
  shell: mount | grep "on /var/log "
  register: varlog_mounted_audit
  always_run: yes
  changed_when: no
  ignore_errors: yes
  tags:
      - cat3
      - high
      - V-38463
      - partitions
      - audit

- name: "LOW | V-38467 | AUDIT | The system must use a separate file system for /var/log/audit"
  shell: mount | grep "on /var/log/audit "
  register: varlogaudit_mounted_audit
  always_run: yes
  changed_when: no
  ignore_errors: yes
  tags:
      - cat3
      - low
      - V-38467
      - partitions
      - audit

- name: "LOW | V-38473 | AUDIT | The system must use a separate file system for user home directories"
  shell: mount | grep "on /home "
  register: home_mounted_audit
  always_run: yes
  changed_when: no
  ignore_errors: yes
  tags:
      - cat3
      - low
      - V-38473
      - partitions
      - audit

- name: "LOW | V-38681 | AUDIT | All GIDs referenced in /etc/passwd must be defined in /etc/group"
  shell: pwck -r | grep 'no group'
  changed_when: false
  failed_when: false
  register: missing_group_audit
  always_run: yes
  tags:
      - cat3
      - low
      - V-38681
      - accounts
      - audit

- name: "LOW | V-38683 | AUDIT | All accounts on the system must have unique user or account names"
  shell: pwck -rq | grep -A1 'duplicate' | grep -v 'duplicate'
  changed_when: false
  failed_when: false
  register: duplicate_account_audit
  always_run: yes
  tags:
      - cat3
      - low
      - V-38683
      - accounts
      - audit

- name: " LOW | V-38697 | AUDIT | The sticky bit must be set on all public directories."
  shell: "lsblk | awk '$6 == \"part\" && $7 ~ /\\// {print $NF}' | xargs -I{} find {} -xdev -type d -perm -0002 \\! -perm -1000"
  changed_when: false
  register: stick_bit_public_dir_audit
  always_run: yes
  tags:
      - cat3
      - low
      - V-38697
      - permissions
      - sticky_bit
      - audit

- name: " LOW | V-38699 | AUDIT | All public directories must be owned by a system account."
  shell: "lsblk | awk '$6 == \"part\" && $7 ~ /\\// {print $NF}' | xargs -I{} find {} -xdev -type d -perm -0002 -uid +499 -print"
  changed_when: false
  register: system_account_public_dir_audit
  always_run: yes
  tags:
      - cat3
      - low
      - V-38699
      - permissions
      - public_dir_ownership
      - audit
