---

# Preliminary tasks that should always be run
- name: "PRELIM | Make sure iptables is installed."
  block:
      - name: "PRELIM | Make sure iptables is installed."
        yum:
            name: iptables
            state: present

      - name: "PRELIM | See if a default iptables config file exists"
        stat:
            path: /etc/sysconfig/iptables
        register: iptables_config

      - name: "PRELIM | Copy up a sensible default firewall config"
        copy:
            src: etc_sysconfig_iptables
            dest: /etc/sysconfig/iptables
            owner: root
            group: root
            mode: 0644
        when: falset iptables_config.stat.exists
        notify: restart iptables

      - name: Flush handlers
        meta: flush_handlers
  tags:
      - V-38512
      - V-38513
      - V-38555
      - V-38560
      - V-38686
      - ipv4
      - network
      - firewall
      - cat2
      - medium
      - patch

- name: "PRELIM | Make sure ip6tables is installed."
  block:
      - name: "PRELIM | Make sure ip6tables is installed."
        yum:
            name: iptables-ipv6
            state: present

      - name: "PRELIM | See if a default ip6tables config file exists"
        stat:
            path: /etc/sysconfig/ip6tables
        register: ip6tables_config

      - name: "PRELIM | Copy up a sensible default firewall config"
        copy:
            src: etc_sysconfig_ip6tables
            dest: /etc/sysconfig/ip6tables
            owner: root
            group: root
            mode: 0644
        when: falset ip6tables_config.stat.exists and rhel6stig_ipv6_required
        notify: restart ip6tables

      - name: Flush handlers
        meta: flush_handlers

  tags:
      - cat2
      - medium
      - ipv6
      - V-38444
      - V-38549
      - V-38551
      - V-38553
      - firewall
      - network
      - patch

# List users in order to look files inside each home directory
- name: "PRELIM | List users accounts"
  command: "awk -F: '{print $1}' /etc/passwd"
  register: users
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2

- name: "PRELIM | Identify Unlocked Accounts"
  shell: >
      awk -F: '$1 !~ /^root$/ && $2 !~ /^[!*]/ {print $1}' /etc/shadow
  register: unlocked_accounts
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2
      - cat3

- name: "PRELIM | Identify Unlocked Sys Accounts"
  shell: >
      awk -F: '$1 !~ /^root$/ && $2 !~ /^[!*]/ {print $1}' /etc/shadow | xargs -I{} grep {} /etc/passwd | awk -F: '$3 < 500 {print $1}'
  register: unlocked_sys_accounts
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2
      - cat3

- name: "PRELIM | List system accounts"
  shell: "grep -Ev '/home|root' /etc/passwd | cut -d : -f 1"
  register: system_users
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2
      - cat3

# Get separate lists of SysV and xinetd services
- name: "PRELIM | List SysV services"
  shell: "chkconfig --list | sed '/^$/ d ; /xinetd based services:/ d ; /^\t/ d' | awk '{print $1}'"  # noqa no-tabs
  register: sysv_services
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2
      - cat3

- name: "PRELIM | List xinetd services"
  shell: "chkconfig --list | sed -n '/^\t/,$p' | sed 's/\t//' | cut -d : -f 1"  # noqa no-tabs
  register: xinetd_services
  changed_when: false
  check_mode: false
  tags:
      - cat1
      - cat2
      - cat3

# Get list of shells
- name: "PRELIM | Get list of shells on system"
  shell: grep -Pv "/(sh|nologin|dash)" /etc/shells | sed -r 's#/((bin|sbin|usr)/)+##'
  register: shells
  changed_when: false
  check_mode: false
  tags:
      - cat3
      - umask

- name: "PRELIM | Check for device files with unlabeled_t context"
  shell: ls -RZ /dev | grep unlabeled_t
  register: rhel6stig_dev_unlabeled_context
  changed_when: false
  failed_when: false
  when: rhel6stig_cat3
  check_mode: false
  tags:
      - selinux

- name: "PRELIM | Check for samba"
  stat: path=/etc/samba/smb.conf
  register: samba_check
  tags:
      - cat3
      - V-38656
      - smb

- name: "PRELIM | Get list of rsyslog genarated log files"
  shell: "grep -P '^(?!#).*/' /etc/rsyslog.conf /etc/rsyslog.d/* | grep -v IncludeConfig | sed 's/-//'| awk 'NF==2 {print $2}'"
  changed_when: false
  check_mode: false
  register: rsyslog_logfiles
  tags:
      - cat2
      - medium
      - V-38518
      - V-38519
      - V-38522
      - log_files
      - rsyslog
      - audit

- name: "PRELIM | Set architecture for auditd tasks"
  set_fact:
      audit_arch: "b{{ ansible_architecture | regex_replace('.*(\\d\\d$)','\\1') }}"
  tags:
      - cat3
      - auditd

- name: "PRELIM | Get path of auditd log file"
  shell: "grep '^log_file' /etc/audit/auditd.conf | sed s/^[^\\/]*//"
  changed_when: false
  check_mode: false
  register: auditd_logfile
  tags:
      - cat2
      - medium
      - V-38445
      - log_files
      - auditd
      - patch

- name: "PRELIM | V-38573 V-38592 V-38501 | Configure pam_faillock."
  block:
      - name: "PRELIM | V-38573 V-38592 V-38501 | Place pam_faillock preauth."
        pamd:
            name: "{{ item }}"
            new_type: auth
            new_control: required
            new_module_path: pam_faillock.so
            module_arguments: preauth silent
            state: before
            type: auth
            control: sufficient
            module_path: pam_unix.so
        with_items:
            - password-auth
            - system-auth

      - name: "PRELIM | V-38573 V-38592 V-38501 | Place pam_faillock authfail."
        pamd:
            name: "{{ item }}"
            new_type: auth
            new_control: '[default=die]'
            new_module_path: pam_faillock.so
            module_arguments: authfail
            state: before
            type: auth
            control: required
            module_path: pam_deny.so
        with_items:
            - password-auth
            - system-auth

      - name: "PRELIM | V-38573 V-38592 V-38501 | Place pam_faillock account module."
        pamd:
            name: "{{ item }}"
            new_type: account
            new_control: required
            new_module_path: pam_faillock.so
            state: before
            type: account
            control: required
            module_path: pam_unix.so
        with_items:
            - password-auth
            - system-auth
  tags:
      - medium
      - cat2
      - logon_settings
      - patch
      - V-38573
      - V-38592
      - V-38501
      - pam

- name: "PRELIM | List /etc/fstab mount points"
  shell: 'awk ''/^[^#]/ { print $2; }'' /etc/fstab'
  changed_when: false
  register: fstab_mountpoints
  check_mode: false
  tags:
      - cat2
      - medium
      - V-57569
      - fstab
      - patch

- name: "PRELIM | List interface config files"
  find:
      paths: /etc/sysconfig/network-scripts
      file_type: file
      patterns: ifcfg-eth*
  check_mode: false
  register: interface_config_files
  tags:
      - cat2
      - medium
      - V-38679
      - dhcp
      - network
