## {{ ansible_managed }}
## DISA STIG For RHEL6 Revision 8 Version 1

- name: Category 1 Results
  rule_results:

{% if rpm_key_audit is defined %}
    - vuln_id: V-38476
      rule_id: SV-50276r3_rule
      stig_id: RHEL-06-00000
      rule_title: Vendor-provided cryptographic certificates must be installed to verify the integrity of system software.
      result: {% if 'gpg-pubkey-fd431d51-4ae0493b' in rpm_key_audit.stdout_lines and 'gpg-pubkey-2fa658e0-45700c69' in rpm_key_audit.stdout_lines %}PASS{% else %}FAIL{% endif %}
{% endif %}


{% if hosts_equiv_audit is defined and rhosts_audit is defined %}
{% set rhosts_found = 0 %}
    - vuln_id: V-38491
      rule_id: SV-50292r1_rule
      stig_id: RHEL-06-00001
      rule_title: There must be no .rhosts or hosts.equiv files on the system
      result: {% if hosts_equiv_audit.stat.exists == False %}{% for result in rhosts_audit.results if result.stat.exists == True %}{% set rhosts_found = 1 %}{% if rhosts_found == 0 and loop.last%}PASS{% elif loop.last %}FAIL{% endif %}{% endfor %}{% endif %}
{% endif %}


{% if nullok_audit is defined %}
     - vuln_id: V-38497
       rule_id: SV-50298r2_rule
       stig_id: RHEL-06-000030
       rule_title: The system must not have accounts configured with blank or null passwords.
       result: {% if nullok_audit.stdout == '' %}PASS{% else %}FAIL{% endif %}
{% endif %}


{% if telnet_server_audit is defined %}
     - vuln_id: V-38587
       rule_id: SV-50388r1_rule
       stig_id: RHEL-06-000206
       rule_title: The telnet-server package must not be installed.
       result: {% if 'not installed' in telnet_server_audit.stdout %}PASS{% else %}FAIL{% endif %}
{% endif %}


{% if telnet_service_audit is defined %}
     - vuln_id: V-38589
       rule_id: SV-50390r2_rule
       stig_id: RHEL-06-000211
       rule_title: The telnet daemon must not be running.
       result: {% if 'No such' in telnet_service_audit.stdout or not 'yes' in telnet_service_audit.stdout %}PASS{% else %}FAIL{% endif %}
{% endif %}

{% if rsh_server_audit is defined %}
     - vuln_id: V-38591
       rule_id: SV-50392r1_rule
       stig_id: RHEL-06-000213
       rule_title: The rsh-server package must not be installed.
       result: {% if 'not installed' in rsh_server_audit.stdout %}PASS{% else %}FAIL{% endif %}
{% endif %}

{% if rsh_service_audit is defined %}


{% if snmpd_audit is defined %}
     - vuln_id: V-38653
       rule_id: SV-50454r1_rule
       stig_id: RHEL-06-00034
       rule_title: The snmpd service must not use a default password
       result: {% if not snmpconf_test.stat.exists %}PASS{% elif snmpd_audit.stdout == '' %}PASS{% else %}FAIL{% endif %}
{% endif %}



